body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 15% 85%;
  }
  
  #left {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    background-color: black;
    border-right: solid .3rem orange;
  }
  
  #right {
    background-color: grey;
  }
  
  #counter {
    grid-row: 1;
    font-family: "Courier New", Courier, monospace;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 2rem;
  }
  
  .coin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    grid-row: 2;
  }
  
  #coin{
    width: 90%;
    transition: transform .2s;
  }
  #coin:hover {
    transform: scale(1.1);
  }
  
  @keyframes coinAnimation {
    0% { transform: scale(1); }
    20% { transform: scale: (0.6); }
    60% { transform: scale: (1.1); }
    100% { transform: scale: (1); }
  }
  
  #coin:active {
    animation: coinAnimation .2s ease-in-out; 
  }