body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
  }
  
  #left {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    background-color: black;
    border-right: solid .3rem orange;
  }
  
  #center {
    background-color: grey;
  }
  
  #counter {
    grid-row: 1;
    font-family: "Courier New", Courier, monospace;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 2rem;
  }
  
  .coin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  
  #coin{
    width: 75%;
    transition: transform .2s;
  }
  #coin:hover {
    transform: scale(1.1);
  }
  
  @keyframes coinAnimation {
    0% { transform: scale(1); }
    20% { transform: scale: (0.6); }
    60% { transform: scale: (1.1); }
    100% { transform: scale: (1); }
  }
  
  #coin:active {
    animation: coinAnimation .2s ease-in-out; 
  }

  #buttons {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Courier New", Courier, monospace;
    color: white;
    font-weight: bold;
    background-color: black;
    border-left: solid .3rem orange;
  }

  #minerButton {
    display: flex;
    height: 12.5%;
    padding: .2rem;
    border: solid .2rem grey;
    opacity: 1;
    transition: transform .2s ease-in-out;
  }

  #minerButton:active {
    transform: scale(0.9);
  }

  #minerImg {
    width: 5rem;
    background-image: url(imgs/miner.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #minerCounter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid .2rem orange;
    border-radius: 100%;
    height: 40px;
    width: 40px;
  }

  #computerButton {
    display: flex;
    height: 12.5%;
    padding: .2rem;
    border: solid .2rem grey;
    opacity: 1;
    transition: transform .2s ease-in-out;
  }

  #computerButton:active {
    transform: scale(0.9);
  }

  #computerImg {
    width: 5rem;
    background-image: url(imgs/computer.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #computerCounter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid .2rem orange;
    border-radius: 100%;
    height: 40px;
    width: 40px;
  }

  #dataCenterButton {
    display: flex;
    height: 12.5%;
    padding: .2rem;
    border: solid .2rem grey;
    opacity: 1;
    transition: transform .2s ease-in-out;
  }

  #dataCenterButton:active {
    transform: scale(0.9);
  }

  #dataCenterImg {
    width: 5rem;
    background-image: url(imgs/datacenter.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #dataCenterCounter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid .2rem orange;
    border-radius: 100%;
    height: 40px;
    width: 40px;
  }

  #superComputerButton {
    display: flex;
    height: 12.5%;
    padding: .2rem;
    border: solid .2rem grey;
    opacity: 1;
    transition: transform .2s ease-in-out;
  }

  #superComputerButton:active {
    transform: scale(0.9);
  }

  #superComputerImg {
    width: 5rem;
    background-image: url(imgs/supercomputer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #superComputerCounter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid .2rem orange;
    border-radius: 100%;
    height: 40px;
    width: 40px;
  }

  #quantumComputerButton {
    display: flex;
    height: 12.5%;
    padding: .2rem;
    border: solid .2rem grey;
    opacity: 1;
    transition: transform .2s ease-in-out;
  }

  #quantumComputerButton:active {
    transform: scale(0.9);
  }

  #quantumComputerImg {
    width: 5rem;
    background-image: url(imgs/quantumcomputer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #aiButton {
    display: flex;
    height: 12.5%;
    padding: .2rem;
    border: solid .2rem grey;
    opacity: 1;
    transition: transform .2s ease-in-out;
  }

  #aiButton:active {
    transform: scale(0.9);
  }

  #aiImg {
    width: 5rem;
    background-image: url(imgs/AI.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #matrioshkaBrainButton {
    display: flex;
    height: 12.5%;
    padding: .2rem;
    border: solid .2rem grey;
    opacity: 1;
    transition: transform .2s ease-in-out;
  }

  #matrioshkaBrainButton:active {
    transform: scale(0.9);
  }

  #matrioshkaBrainImg {
    width: 5rem;
    background-image: url(imgs/matrioshka.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #simulationButton {
    display: flex;
    height: 12.5%;
    padding: .2rem;
    border: solid .2rem grey;
    opacity: 1;
    transition: transform .2s ease-in-out;
  }

  #simulationButton:active {
    transform: scale(0.9);
  }
  
  #simulationImg {
    width: 5rem;
    background-image: url(imgs/simulation.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #bonusCoin {
    background-image: url(imgs/coin.png);
    width: 200px;
    height: 200px;
    background-size: cover;
    animation: bonusCoin 2s infinite linear;
  }

  @keyframes bonusCoin {
    from{transform: rotateY(0deg);}
	  to{transform: rotateY(359deg);}
  }